body {
  font-family: "Roboto Mono", monospace;
  margin: 20px auto;
  padding-bottom: 30px;
  background: #dedee0;
  color: rgb(123, 128, 126);
  text-align: left;
  max-width: 600px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 30px;
}
h1 {
  font-size: 30px;
  margin-top: 30px;
}
h2 {
  font-size: 20px;
}
input {
  margin-top: 30px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration-line: none;
  color: #757a79;
}
.container {
  border-color: #757a79;
  border: 1px solid;
  border-radius: 10px;
  padding-bottom: 40px;
}
.btn {
  margin-top: 30px;
}
.current-precip {
  font-size: 40px;
  padding-bottom: 20px;
}
.current-temp {
  font-size: 70px;
  margin-left: 20px;
}

.today-forcast {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 40px;
  text-align: left;
}
.col {
  text-align: center;
  margin: 0;
  padding: 5px;
}
.units {
  font-size: 30px;
  padding-top: 40px;
}

#city-name {
  text-transform: capitalize;
}
#celcius-link {
  cursor: default;
}
#fahrenheit-link {
  cursor: default;
}
#icon {
  padding-left: 20px;
}
#weekdays {
  padding-top: 40px;
}
#open-sourced-info {
  padding-top: 20px;
  margin: 0 auto;
}
